body>div.container>div.row.DetailArea>div.col-md-9>div:nth-child(1) {
    visibility: hidden;
    display: none;
}

#header h1 {
    padding: 0px;
}

.container {
    width: 1300px;
}

.Uptime[title^="100"] {
    background-color: lightgreen !important;
}

.Uptime[title^="99.9"] {
    background-color: orange !important;
}

.Uptime {
    background-color: palevioletred;
    padding: 2px;
    border-radius: 5px;
    width: 100%;
    display: inline-block;
    text-align: center;
}